{% extends 'base.html' %}

{% block body %}

<div class="container">
	<div class="row">
{% for artist in artists %}

		{% if artist %}
		<div class="col-md-3">
			<a href="/artist_detail/{{ artist.pk }}/">
				{{ artist.artist_name }}
			</a> 

			{% if artist not in request.user.fav_artists.all %}
				<a href="/fav_artist/{{ artist.pk }}/">
					+
				</a>
			{% else %}
				<a href="/unfav_artist/{{ artist.pk }}/">
					-
				</a>
			{% endif %}


		</div>
		{% endif %}

{% endfor %}
	</div>
</div>

{% endblock %}